:root {
	--rojo: #62AEE1;
	--fondo: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

header {
	padding: 0px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	font-size: 90px;
	color: #62AEE1;
	justify-content: start;

}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #bb3535;
	display: inline;
}
.input__container {
	position: relative;
	background: rgba(255, 255, 255, 0.664);
	padding: 10px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border-radius: 22px;
	max-width: 300px;
	transition: transform 400ms;
	transform-style: preserve-3d;
	transform: rotateX(15deg) rotateY(-20deg);
	perspective: 500px;
  }
  
  .shadow__input {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	z-index: -1;
	filter: blur(30px);
	border-radius: 20px;
	background-color: #999cff;
	background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
	  radial-gradient(at 74% 68%, hsla(235,69%,77%,1) 0px, transparent 50%),
	  radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
	  radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
	  radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
	  radial-gradient(at 91% 83%, hsla(283,74%,69%,1) 0px, transparent 50%),
	  radial-gradient(at 72% 91%, hsla(213,75%,75%,1) 0px, transparent 50%);
  }
  
  .input__button__shadow {
	cursor: pointer;
	border: none;
	background: none;
	transition: transform 400ms, background 400ms;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	padding: 5px;
  }
  
  .input__button__shadow:hover {
	background: rgba(255, 255, 255, 0.411);
  }
  
  .input__search {
	width: 100%;
	border-radius: 20px;
	outline: none;
	border: none;
	padding: 8px;
	position: relative;
  }
  .play {

	bottom: 50px;
	left: 100px;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1.2em;
	cursor: pointer;
  }
  .play img {
	margin-right: 10px;
	max-width: 50px;
  }
  
  .trailer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-backdrop-filter: blur(20px);
			backdrop-filter: blur(20px);
	visibility: hidden;
	opacity: 0;
  }
  .trailer.active {
	visibility: visible;
	opacity: 1;
  }
  .trailer video {
	max-width: 900px;
	outline: none;
	border-radius: 5px;
  }
  
  .close {
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
	filter: invert(1);
	max-width: 32px;
  }
  
/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Hombre.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0, 0, 0, 0);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}
/* Cambiar el color de fondo y el color del texto del select */
.categorias select {
    background-color: #62AEE1; /* Cambia #FF0000 al color deseado */
    color: #000000; /* Cambia #FFFFFF al color deseado para el texto */
}

/* Agrandar el tamaño del select */
.categorias select {
    font-size: 18px; /* Cambia 18px al tamaño deseado */
    padding: 7px; /* Cambia 10px al espacio de relleno deseado */
}

/* Agregar margen a la derecha de las etiquetas <a> */
.activo {
    margin-right: 20px; /* Ajusta el valor de margen según el espacio deseado */
}

/* Opción alternativa: agregar espacio interno (relleno) a la izquierda de la etiqueta <div> */
.categorias {
    padding-left: 20px; /* Ajusta el valor de relleno según el espacio deseado */
}

/*Peliculas*/
.movies{
    padding: 50px 0 0;
    display: flex;
    flex-direction: column;
}
.movies-container h2,
.movies-container h2{
	color: #fc0000;
	display: block;
    font-size: 1.5em;
    margin-top: 15px;
	padding: 30px;
}


.hr{
    border: 1px salmon;
    width: 50%;
    margin-bottom: 40px;
}

.box-container-1,
.box-container-2,
.box-container-3 {
	justify-content: center;
    display: flex;
	margin-top: 5px;
    gap: 20px;
	padding: 30px;
	
}

.box-1,
.box-2,
.box-3{
	overflow: hidden;
    border-radius: 5px;
    z-index: 1000;
    display: none;
	transform: translateY(-10px);
	transition: 0.2s all linear;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4){
    display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4){
    display: inline-block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4){
    display: inline-block;
}

.load-more{
    margin-top: 40px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid;
    color: brown;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

.load-more:hover{
    background-color: brown;
    color: aliceblue;
}

.content img {
    width: 100%;
    margin-bottom: 15px;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content {
    color: bisque;
    font-size: 20px;
		transform: none; /* Aumenta el tamaño al 110% del tamaño original */
		transition:ease; /* Agrega una transición suave de 0.3 segundos */
}